
  body,
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6, 
  p, 
  ul, 
  ol,
  blockquote {
    margin: 0;
  }

  body {
    width: 360px;
    background-color: #343434;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-weight: 400;
  }

  h1 {
    font-weight: 400;
  }
  
  h2 {
    font-weight: 500;
  }
  
  h3 {
    font-weight: 400;
  }

  ul {
    padding:  0;
  }
  
  li {
    padding:  0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding:  24px  20px;
    flex-direction: row;
    }

  .header__logo {
    display: block;
  }

  .header__logo-image {
    width: 78.45px;
    height: 15.43px;
  }

  .header__menu {
    display: flex;
    line-height: 19.2px;
  }

  .header__menu-list {
    list-style: none;
  } 
  

  .header__menu-item {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
  }

  .header__menu-link {
    color: white;
    text-decoration: none;
  }

  .header__menu-item_active {
    color: white;
    font-weight: 400;
    font-size: 16px;
  }

  .menu {
    margin-left: auto;
  }

  .main {
    display: block;
    width: 360px;
}

  .section {
    display: flex;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-top: 1px solid #fee42a;
    height: 62px;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .footer__links__menu {
    display: flex;
    margin-left: 16px;
    font-size: 14px;
  }

  .footer__links__atrib {
    color: #F5F5F5;
    text-decoration: none;
  }

  .footer__copy {
    margin-left: 0;
    line-height: 21.6px;
    font-size: 16px;
    color: #F5F5F5;
  }

  .content-section {
    max-width: 360px;
    box-sizing: border-box;
    margin:  0 auto;
  }

  .content-section_theme_dark {
    background-color: #131313;
    color:white;
    
  }

  .content-section_theme_bright {
    background-color: #FEE42A;
    color: white;
  }
  
  .cover {
    padding: 7px 0 0 20px;
    background-image: url(../images/cover.svg);
    background-size: 339px 198px;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .cover__title {
    font-family: EB Garamond, sans-serif;
    font-weight: 400;
    font-size: 72px;
    margin-right: 24px;
    line-height: 72px;
  }

  .accent-span {
    display: block;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  h1 span {
    display: block;
  }
    
  .intro {
    padding: 30px 20px 38px;
  }

  .intro__heading {
    color: #F5F5F5;
    display: flex;
  }

  .intro__title {
  line-height: 19.2px;
  }

  .intro__date {
    white-space: nowrap;
    line-height: 19.2px;
  }

  .intro__main-text_one {
  margin-top: 24px;
  line-height: 21.6px;
  }

  .intro__main-text_two {
  margin-top: 24px;
  line-height: 21.6px;
  }

  .reasons {
    padding: 40px 20px 39px;
  }

  .content-section__subtitle {
    font-family: EB Garamond, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #131313;
    line-height: 32.2px;
  }

  .content-section__introduction {
    font-size: 20px;
    margin: 32px 0;
    color: #131313;
    line-height: 27px;
  }

  .content-section__list {
    color: black;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
  }

  .content-section__list-item {
  margin-bottom: 16px;
  }

  .content-section__list-accent {
    font-weight: 700;
  }

  .how-to {
    padding: 40px 20px 32px;
  }

  .content-section__subtitle_how-to {
    font-family: EB Garamond, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #F5F5F5;
    line-height: 32.2px;
  }

  .content-section__introduction_how-to {
    font-size: 20px;
    margin: 32px 0;
    color: #F5F5F5;
  }

  .cards-list {
    display: flex;
    align-items: center;
  }
  .cards-list ul {
    list-style: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }

  .card_text-only_routine {
    width: 319px;
    height: 559px;
    margin-bottom: 30px;
  }

  .card_text-only_photo {
    width: 319px;
    height: 368px;
    margin-bottom: 32px;
  }

  .card_text-only_begin {
    width: 319px;
    height: 495px;
    margin-bottom: 32px;
  }

  .card_theme_dark {
    border-radius: 30px;
    background-color: #343434;
    color: #F5F5F5;
  }

  .card_theme_bright {
    border-radius: 30px;
    background-color: #FEE42A;
    color: #131313;
  }

  .card__author {
    margin: 20px 0 0 20px;
  }

  .card__author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }


  .card__author-name {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #F5F5F5;
    line-height: 21.6px;
    margin-top: 8px;
  }

  .card__content_dark {
    padding: 0 20px 20px 20px;
  }

  .card__content_bright {
    padding: 20px 20px 20px 20px;
  }

  .card__title_bright {
    font-family: EB Garamond, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #131313;
    line-height: 29.7px;
  }

  .card__title_dark {
    font-family: EB Garamond, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #F5F5F5;
    line-height: 29.7px;
  }

  .card__text_bright {
    font-size: 16px;
    color: #131313;
    line-height: 21.6px;
    margin-top: 8px;
  }

  .card__text_dark {
    font-size: 16px;
    color: #F5F5F5;
    line-height: 21.6px;
    margin-top: 8px;
  }








